/*
Color Palette: 

Pine Tree: #242921;
Gold Fusion: #726A46;
Chocolate Web: #CD763D;
Rifle Green: #51543F;
Xanadu: #828C79;
*/

/*Reminder to future self: maybe organize css when done*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12pt;
}

img {
    display: none;
}




body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

h1, h2, h3, summary {
    color: black;
    text-shadow: none;
    font-family: 'Poppins', sans-serif;
    font-size: 12pt;
}

.logo img{
    padding-bottom: 10px;
}

a:link, a:visited {
    color: black;
}

a:hover, a:active {
    color: black;
}

nav a:visited, a:link, a:hover, a:active {
    color: black;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    /* this will get rid of the bullets on the lsit */
    list-style-type: none;
}

/*This makes the <li> items in the nav bars <ul> display horizontally and not vertically */
nav ul li {
    display: inline-block;
    /*This will control the spacing between the links on the nav bar*/
    margin-right: 0;
    transition: transform 0.5s;
}

nav ul li:hover {
    transform: scale(110%);
}

a {
    text-decoration: none;
    color: black;
}

p {
    color: black;
}

article {
    color: black;
}

.container {
    max-width: 100%;
    margin: 0;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /*This determines how the items in the flex container are spaced*/
    justify-content: space-around;
}



.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1 {
    line-height: 60px;
    margin: 0;
}

.col-1 h1 {
    line-height: 60px;
    margin: 0;
    text-align: center;
}

.btn {
    display: inline-block;
    background-color: #726A46;
    color: white;
    padding: 8px 30px;
    margin: 0;
    border-radius: 30px;
    transition: background 0.5s;
}
/*REMINDER: not sure if this is working right??
.btn a:hover, a:visited, a:active, a:link {
    color: white;
}
*/

.btn:hover {
    background: #828C79;
}

.header {
    background: radial-gradient(#fff,#828C79);
}

.header .row {
    margin-top: 0;
    padding-bottom: 0;
}

.categories {
    margin: 0px;
}

/* --------------------- Collums below --------------------------*/
.col-1 {
    flex-basis: 100%;
    min-width: 100%;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

/*This will make the items take 30% of the flex space...I think.. and be at least 250px
    Thinking 90% for mobile
*/
.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 0;
    box-shadow: none;
}

/*flex-bassis 25% because we want to have 4 collums here
    thinking 50% for mobile
*/
.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 0;
}

/* This makes the images not so massive */
.col-3 img {
    width: 100%;
}

.small-container {
    max-width: 100%;
    margin: 0;
    padding-left: 25px;
    padding-right: 25px;
}



.col-4 img {
    width: 100%;
    transition: transform 0.5s;
}

.title {
    text-align: center;
    margin: 0;
    position: relative;
    line-height: 60px;
    color: black;
}

/*This makes the little line after the titles*/
.title::after {
    content: '';
    background: #726A46;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4 {
    color: black;
    font-weight: normal;
}

.col-4:hover {
    transform: translateY(-5px);
    transform: scale(105%);
}

.rating .fa-solid {
    color: black;
}

.rating .fa-regular {
    color: black;
}

/*---------------testimonial css start--------------------------*/
/* user images retrieved from: https://thispersondoesnotexist.com/ */
.testimonial {
    padding-top: 100px;
}

.testimonial .col-3 {
    text-align: center;
    padding: 40px 20px;
    transition: transform 0.5s;
    cursor: pointer;
    box-shadow: none;
}

.testimonial .col-3:hover {
    transform: translateY(-10px);
    transform: scale(105%);
} 

.testimonial .col-3 img {
    width: 100%;
    margin-top: 0;
    border-radius: 50%;
}

.testimonial .col-3 h3 {
    font-weight: 600;
    color: black;
}

.col-3 p {
    margin: 0;
    color: black;
}

/*----------------------testimonal css end--------------------*/

/*------------------------offer css start----------------------*/
.offer {
    background: radial-gradient(#fff,#828C79);
    margin-top: 0;
    padding: 30px 0;
}

col-2 .offer-img {
    padding: 50px;
}
/*----------------------------offer css end----------------------*/

/*----------------------------footer css start--------------------*/

.footer {
    background: black;
    color: black;
    padding: 60px 0 20px;
}

.footer p {
    color: black;
}

.footer h3 {
    color: black;
    margin-bottom: 0;
    text-align: center;
}
/*Icon bar styling v  */
.footer ul {
    display: inline-block;
    list-style-type: none;
}

.footer ul li {
    display: inline-block;
    /*This will control the spacing between the links on the icon bar 
    - Reminder to figure out how to change icon size
    - REMEMBER TO CHANGE BOTH MARGINS*/
    margin-right: 0;
    margin-left: 0;
    transition: transform 0.5s;
}

.footer-icon-bar-col {
    min-width: 250px;
    margin-bottom: 0;
    text-align: center;
}

.footer hr {
    border: none;
    background: #726A46;
    height: 1px;
    margin: 0;
}

.copyright {
    text-align: center;
}

.copyright a {
    color: black;
    text-decoration: underline;
}

/*--------------------------footer css end--------------------------*/

.menu-icon {
    width: 100%;
    margin-left: 0;
    display: none;
}

/*----------All products css--------*/

.row-2 {
    justify-content: space-between;
    margin: 0;
}

select {
    padding: 5px;
}


/*This stops the border from turning black after you select something*/
select:focus {
    outline: none;
}

.page-btn {
    margin: 0;
}

.page-btn span {
    display: inline-block;
    margin-left: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-btn span:hover {
    background: #242921;
    color: black;
}


/*--------------------Single Products Details CSS-----------------------*/

.single-product {
    margin-top: 0;

}

.single-product .col-2 {
    padding: 20px;
}

.single-product .col-2 img {
    padding: 0;

}

.single-product h3, h1 {
    color: black;
}

.single-product h4 {
    margin: 0;
    font-weight: bold;
}

.single-product select {
    display: block;
    padding: 10px;
    margin-top: 0;
}

.single-product select:focus {
    outline: none;
}

.single-product input {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    margin-right: 0;
    text-align: center;
}

.single-product input:focus {
    outline: none;
}

.single-product .fa-indent {
    color: black;
    margin-left: 0;
}

/*------------Cart Item Details----------*/

.cart-page {
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
   display: flex; 
   flex-wrap: wrap;
}

th {
    text-align: left;
    padding: 5px;
    color: black;
    background: #242921;
}

td {
    padding: 10px 5px;
}

td input {
    width: 100%;
    height: 30px;
    padding: 5px;
}

td a:link, a:hover, a:active, a:visited {
    color: black;
}

td img {
    width: 100%;
    height: 80px;
    margin-right: 0;
}

.total-price {
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    width: 100%;
    max-width: 100%;
}
/*This lines up all the table data to the right*/
td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}

/*----------Account Page---------*/


.account-page {
    padding: 50px 0;
    background: radial-gradient(#fff,#828C79);
}

.form-container {
    background: white;
    width: 100%;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: 0;
    overflow: hidden;
}

.form-container span {
    font-weight: bold;
    padding: 0 10px;
    color: black;
    cursor: pointer;
    width: 100%;
    display: inline-block;
}

.form-btn {
    display: inline-block;
}

.form-container form {
    max-width: 100%;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}

form input {
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 0 10px;
}

form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 0;
}

form .btn:focus {
    outline: none;
}

#LoginForm {
    left: -300px;
}

#RegForm {
    left: 0;
}

#Indicator {
    width: 100%;
    border: none;
    background: #CD763D;
    height: 3px;
    margin-top: 0;
    transform: translateX(100px);
    transition: transform 1s;
}


/*---------media query for phones-----------*/
@media only screen and (max-width: 850px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        padding-top: 20px;
        transition: margin-top 0.5s, max-height 0.5s;
        
    }

    .row {
        transition: margin-top 0.5s;
    }

    .small-container {
        transition: margin-top 0.5s;
    }

    nav ul li {
        display: block;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
        
    }

    nav a:visited, a:link, a:hover, a:active {
        color: black;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        margin-bottom: 0;
    }

    .fa-basket-shopping {
        margin-bottom: 0;
    }

    .row {
        text-align: center;
    }

    .col-2, .col-3 {
        flex-basis: 90%;
    }

    .col-4 {
        flex-basis: 50%;
    }

    /*THIS IS WHAT KEEPS THE SELECT BOX CENTERED ON MOBILE
    .single-product select {
        margin: 0 auto;
    }
    */

    /*-----------single product---------*/
    .row {
        text-align: center;
    }

    .single-product .row {
        text-align: left;
    }

    .single-product .col-2 {
        padding: 20px 0;
    }

    .single-product h1 {
        line-height: 32px;
    }

    /*------------------Cart--------------*/
    .cart-info p {
        display: none;
    }
}

/*Condenses the rows into rows of 1 when the screen gets really small*/

@media only screen and (max-width: 450px) {
    .col-2, .col-3, .col-4 {
         flex-basis: 100%;
    } 
}